header {
  font-family: sans-serif;
  padding: 1em 0;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  height: 28px;
}

ul.links {
  float: right;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
}

ul.links > li {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  list-style-type: none;
  margin-left: 20px;
}
