header {
  font-family: sans-serif;
  padding: 2em 0;
}

.wrap {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
}

ul.links {
  float: right;
  padding: 0;
  margin: 2px 0 0;
}

ul.links > li {
  display: inline-block;
  margin-left: 20px;
  font-size: 13px;
  font-weight: bold;
  list-style-type: none;
}
