@import url(//fonts.googleapis.com/css?family=Vollkorn:400italic,400);
@import 'colors';
@import 'variables';

html, body {
  height: 100%;
  font-family: 'Vollkorn', serif;
}

body {
  text-align: center;
}

h1 {
  margin: 1em;
}

.container {
  background: #edf1d4;
  height: 600px;
  max-width: 40em;
  margin: 0 auto;
  padding: 1em 2em;

}

.sliders {
  position: relative;
  height: 70%;
  width: 100%;

  .slider {
    position: relative;
    display: inline-block;
    height: 100%;

    .slider-ui {
      position: relative;
      z-index: 2;
      display: inline-block;
      height: 100%;
      margin: 0 50px;
    }

    .markers {
      // @include user-select(none);
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 40%;
      text-align: right;

      span {
        position: absolute;
        height: 0px;
        left: 0;
        width: 100%;
        color: #bbb;
        font-weight: 100;
        font-size: .8em;
        border-bottom: 1px solid #efefef;

        @for $i from 0 through 10 {
          &:nth-of-type(#{$i + 1}) {
            bottom: #{$i * 10%};
          }
        }
      }
    }
  }
}
