<header>
  <div class="wrap">

    <a href="/">
      <img src="assets/opt-logo.png" alt="OPT" class="logo">
    </a>

    <ul class="links">
      <li>{{#link-to 'opt'}}De OPT{{/link-to}}</li>
      <li>{{#link-to 'video'}}Video{{/link-to}}</li>
      <li>{{#link-to 'instructions'}}Instructies{{/link-to}}</li>
      <li>{{#link-to 'prom'}}PROM-studie{{/link-to}}</li>
      <li>{{#link-to 'option'}}OPTion-studie{{/link-to}}</li>
    </ul>
  </div>
</header>
