<header>
  <div class="wrap">

    <a href="/">
      <img src="assets/option-logo.png" alt="OPT" class="logo">
    </a>

    <ul class="links">
      <li><a href="/video">Video</a></li>
      <li><a href="/instructions">Instructions</a></li>
      <li><a href="/resources">Resources</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</header>
