<div class="modal">
  <div class="modal-backdrop" {{action 'closeModal'}}></div>
  <div class="modal-dialog">
    <div class="modal-header">
      <h1>OPTion voorbeeld</h1>
      <a class="modal-close" {{action 'closeModal'}}></a>
    </div>
    <div class="modal-content">
      <article>
        <p>
          Er is bij u geconstateerd dat u ongeneeslijke kanker hebt. Dat betekent niet dat er geen behandeling meer mogelijk is, maar wel dat u niet meer kunt genezen. Er zijn wel verschillende behandelmogelijkheden. Daarbij is het zo dat de ene behandeling niet beter is dan de andere, maar dat de verschillende behandelingen zich op verschillende zaken richten. Ik, als uw huisarts, vind het daarom goed/nuttig/belangrijk om eens samen stil te staan bij wat u op dit moment belangrijk vindt.
        </p>

        <p>
          We onderscheiden als artsen de volgende vier mogelijke doelen van een behandeling:
        </p>
        <ol>
          <li>het leven verlengen</li>
          <li>de onafhankelijkheid van de patiënt te bewaren</li>
          <li>pijn verzachten of opheffen</li>
          <li>klachten als duizeligheid, moeheid, kortademigheid verminderen of opheffen</li>
        </ol>

        <p>
          Graag zou ik u willen uitnodigen om te bedenken hoe belangrijk u deze 4 uitkomsten vindt. Bij het nadenken over ieder van deze uitkomsten, moet u in aanmerking nemen, dat u niet alle uitkomsten als ‘even belangrijk’ kunt waarderen; u moet dus een rangorde maken. Wilt u mij vertellen waar u deze uitkomsten zou plaatsen op een schaal van 0 tot 100? Hoe hoger u de uitkomst plaatst, des te meer belang u aan deze uitkomst hecht. Hoe groter de afstand tussen 2 behandeldoelen, des te groter is uw verschil in waardering tussen deze beide doelen.
        </p>

        <p>
          Nadat u het voor u belangrijkste behandeldoel een plaats hebt gegeven op de schaal, geeft u het daarop volgend belangrijkste behandeldoel een lagere plaats en vervolgens herhaalt u dit nog tweemaal. Zo maakt u een rangorde in belangrijkheid van deze behandeldoelen. De onderlinge afstanden tussen de doelen geven de verschillen tussen uw waardering van de doelen aan. Dus, door een van de uitkomsten als belangrijkste aan te merken, bent u bereid om op de andere uitkomsten ‘ in te leveren’ , zodat de voor u belangrijkste uitkomst wordt gerealiseerd.
        </p>

        <p>
          Kiest u ‘levensverlenging’ als het belangrijkste behandeldoel, dan betekent dat dat u bereid bent een eventuele achteruitgang in uw onafhankelijkheid te accepteren en klachten voor lief te nemen als u daarmee langer kunt leven.
        </p>

        <p>
          Kiest u ‘onafhankelijkheid bewaren’ als belangrijkste uitkomst, dan bent u bereid een korter leven te accepteren en klachten voor lief te nemen teneinde uw onafhankelijkheid te bewaren.
        </p>

        <p>
          Bij het behandeldoel ‘pijn verzachten’ vraag ik u om te bedenken wat voor u het belangrijkste zou zijn, als u pijn heeft.
        </p>

        <p>
          Bij het behandeldoel ‘andere klachten’ kunt u denken aan klachten zoals bijv. duizeligheid, misselijkheid, kortademigheid of jeuk. Kiest u verminderen of opheffen van deze klachten als belangrijkste uitkomst, dan bent u bereid achteruitgang in uw onafhankelijkheid en een korter leven te accepteren om u in staat te stellen klachtenvrij te leven.
        </p>

        <p>
          Neem rustig de tijd hiervoor. U kunt met de uitkomsten schuiven net zolang tot u tevreden bent met het resultaat. Hebt u nog vragen? Dan beginnen we.
        </p>

        <a {{action 'closeModal'}}>Sluiten</a>
      </article>
    </div>
  </div>
</div>
