<div class="sliders">
  {{view "slider" title="1" startValue=0}}
  {{view "slider" title="2" startValue=0}}
  {{view "slider" title="3" startValue=0}}
  {{view "slider" title="4" startValue=0}}
</div>
