<div class="slider-container">
  <div class="sliders">
    {{view "slider" title=(t "sliders.alive")
      explanation="Streven naar zo lang mogelijk leven."}}
    {{view "slider" title=(t "sliders.independence")
      explanation="Streven naar zo groot mogelijke zelfredzaamheid in het dagelijks leven."}}
    {{view "slider" title=(t "sliders.reducingPain")
      explanation="Streven naar een situatie waarin de patiënt zo min mogelijk pijn ervaart."}}
    {{view "slider" title=(t "sliders.reducingSymptoms")
      explanation="Streven naar een situatie waarin je zo min mogelijk last hebt andere symptomen, bijvoorbeeld duizeligheid, misselijkheid, kortademigheid of jeuk."}}
  </div>
</div>
