<div class="slider-container">
  <div class="sliders">
    {{view "slider" title=(t "sliders.alive")
      explanation=(t "sliders.aliveTooltip")}}
    {{view "slider" title=(t "sliders.independence")
      explanation=(t "sliders.independenceTooltip")}}
    {{view "slider" title=(t "sliders.reducingPain")
      explanation=(t "sliders.reducingPainTooltip")}}
    {{view "slider" title=(t "sliders.reducingSymptoms")
      explanation=(t "sliders.reducingSymptomsTooltip")}}
  </div>
</div>
