<div class="slider-container">
  <div class="sliders">
    {{view "slider" title="Levensverlenging"}}
    {{view "slider" title="Onafhankelijkheid bewaren"}}
    {{view "slider" title="Verminderen of wegnemen van pijn"}}
    {{view "slider" title="Verminderen of wegnemen van andere symptomen"}}
  </div>
</div>
