<div class="slider-container">
  <div class="sliders">
    {{view "slider" title="Levensverlenging"
      explanation="Streven naar zo lang mogelijk leven."}}
    {{view "slider" title="Onafhankelijkheid bewaren"
      explanation="Streven naar zo groot mogelijke zelfredzaamheid in het dagelijks leven."}}
    {{view "slider" title="Verminderen of wegnemen van pijn"
      explanation="Streven naar een situatie waarin de patiënt zo min mogelijk pijn ervaart."}}
    {{view "slider" title="Verminderen of wegnemen van andere symptomen"
      explanation="Streven naar een situatie waarin je zo min mogelijk last hebt andere symptomen, bijvoorbeeld duizeligheid, misselijkheid, kortademigheid of jeuk."}}
  </div>
</div>
