<article>
  <p><b>De behandelvoorkeuren schuif: </b>instructies voor de gebruiker</p>

  <p>Uw behandeling heeft tot dusverre plaatsgevonden volgens de richtlijnen die gelden voor de ziekten/ problemen die bij u spelen. Daar bij u meerdere ziekten/problemen spelen, heeft dit tot gevolg, dat u veel medicijnen gebruikt. Aan het gebruik van zoveel geneesmiddelen zitten ook schaduwkanten (bijwerkingen, interacties, invloed op het dagelijks leven), zeker voor ouder wordende mensen bij wie de gevoeligheid voor geneesmiddelen toeneemt.</p>

  <p>Als uw huisarts lijkt het mij goed/nuttig/belangrijk om eens op een andere manier naar uw medicatie te kijken. Laten we eens stilstaan bij wat u belangrijk vindt.</p>

  <p>Denkend aan wat artsen proberen te bereiken wanneer zij patienten behandelen, dan proberen wij artsen doorgaans een of meer van de volgende uitkomsten tot stand te brengen:</p>

  <ol start="1" type="1"> <li>het leven verlengen</li>
  <li>de onafhankelijkheid van de patient te bewaren</li>
  <li>pijn verzachten of opheffen</li>
  <li>klachten als duizeligheid, moeheid, kortademigheid verminderen of opheffen</li>
  </ol><p>Graag zou ik u willen uitnodigen om te bedenken hoe belangrijk u deze 4 uitkomsten vindt. Bij het nadenken over ieder van deze uitkomsten, moet u in aanmerking nemen, dat u niet alle uitkomsten als ‘even belangrijk’ kunt waarderen; u moet dus een rangorde maken. Zoudt u mij willen vertellen waar u deze uitkomsten zou plaatsen op een schaal van 0 tot 100? Hoe hoger u de uitkomst plaatst, des te meer belang u aan deze uitkomst hecht. Hoe groter de afstand tussen 2 behandeldoelen, des te groter is uw verschil in waardering tussen deze beide doelen. </p>

  <p>Nadat u het voor u belangrijkste behandeldoel een plaats hebt gegeven op de schaal, geeft u het daarop volgend belangrijkste behandeldoel een lagere plaats en vervolgens herhaalt u dit nog tweemaal. Zo maakt u een rangorde in belangrijkheid van deze behandeldoelen, waarbij de onderlinge afstanden tussen de doelen de verschillen tussen uw waardering van de doelen weergeven. Dus, door een van de uitkomsten als belangrijkste aan te merken, bent u bereid om op de andere uitkomsten ‘ in te leveren’ , zodat deze voor u belangrijkste uitkomst gerealiseerd wordt.</p>

  <p>Kiest u ‘u in leven houden’ als het belangrijkste behandeldoel, dan betekent dat dat u bereid bent een eventuele achteruitgang in uw onafhankelijkheid te accepteren en klachten voor lief te nemen als u daarmee langer kunt leven. </p>

  <p>Kiest u ‘onafhankelijkheid bewaren’ als belangrijkste uitkomst, dan bent u bereid een korter leven te accepteren en klachten voor lief te nemen teneinde uw onafhankelijkheid te bewaren. </p>

  <p>Bij het behandeldoel ‘pijn verzachten’ vraag ik u om te bedenken wat voor u het belangrijkste zou zijn, als u pijn heeft. Bij het behandeldoel ‘andere klachten’ kunt u denken aan klachten zoals bijv duizeligheid, misselijkheid, kortademigheid of jeuk. Kiest u verminderen of opheffen van deze klachten als belangrijkste uitkomst, dan bent u bereid achteruitgang in uw onafhankelijkheid en een korter leven te accepteren om u in staat te stellen klachtenvrij te leven. </p>

  <p>Neemt u rustig de tijd hiervoor. U kunt met de uitkomsten schuiven net zolang tot u tevreden bent met het resultaat. Hebt u nog vragen? Dan beginnen we. </p>

  <p><i>Fried TR, Tinetti M, Agostini J, Iannone L, Towle V. Health outcome prioritization to elicit preferences of older persons with multiple health conditions. Patient Ed Couns 2011; 83: 278-82.</i></p>
</article>
