
{{#ic-tabs}}
  {{#ic-tab-list}}
    {{#ic-tab}}Nederlands{{/ic-tab}}
    {{#ic-tab}}English{{/ic-tab}}
  {{/ic-tab-list}}

  {{#ic-tab-panel}}
    <article>
      <p><b>De behandelvoorkeuren schuif: </b>instructies voor de gebruiker</p>

      <p>Uw behandeling heeft tot dusverre plaatsgevonden volgens de richtlijnen die gelden voor de ziekten/ problemen die bij u spelen. Daar bij u meerdere ziekten/problemen spelen, heeft dit tot gevolg, dat u veel medicijnen gebruikt. Aan het gebruik van zoveel geneesmiddelen zitten ook schaduwkanten (bijwerkingen, interacties, invloed op het dagelijks leven), zeker voor ouder wordende mensen bij wie de gevoeligheid voor geneesmiddelen toeneemt.</p>

      <p>Als uw huisarts lijkt het mij goed/nuttig/belangrijk om eens op een andere manier naar uw medicatie te kijken. Laten we eens stilstaan bij wat u belangrijk vindt.</p>

      <p>Denkend aan wat artsen proberen te bereiken wanneer zij patienten behandelen, dan proberen wij artsen doorgaans een of meer van de volgende uitkomsten tot stand te brengen:</p>

      <ol start="1" type="1"> <li>het leven verlengen</li>
      <li>de onafhankelijkheid van de patient te bewaren</li>
      <li>pijn verzachten of opheffen</li>
      <li>klachten als duizeligheid, moeheid, kortademigheid verminderen of opheffen</li>
      </ol><p>Graag zou ik u willen uitnodigen om te bedenken hoe belangrijk u deze 4 uitkomsten vindt. Bij het nadenken over ieder van deze uitkomsten, moet u in aanmerking nemen, dat u niet alle uitkomsten als ‘even belangrijk’ kunt waarderen; u moet dus een rangorde maken. Zoudt u mij willen vertellen waar u deze uitkomsten zou plaatsen op een schaal van 0 tot 100? Hoe hoger u de uitkomst plaatst, des te meer belang u aan deze uitkomst hecht. Hoe groter de afstand tussen 2 behandeldoelen, des te groter is uw verschil in waardering tussen deze beide doelen. </p>

      <p>Nadat u het voor u belangrijkste behandeldoel een plaats hebt gegeven op de schaal, geeft u het daarop volgend belangrijkste behandeldoel een lagere plaats en vervolgens herhaalt u dit nog tweemaal. Zo maakt u een rangorde in belangrijkheid van deze behandeldoelen, waarbij de onderlinge afstanden tussen de doelen de verschillen tussen uw waardering van de doelen weergeven. Dus, door een van de uitkomsten als belangrijkste aan te merken, bent u bereid om op de andere uitkomsten ‘ in te leveren’ , zodat deze voor u belangrijkste uitkomst gerealiseerd wordt.</p>

      <p>Kiest u ‘u in leven houden’ als het belangrijkste behandeldoel, dan betekent dat dat u bereid bent een eventuele achteruitgang in uw onafhankelijkheid te accepteren en klachten voor lief te nemen als u daarmee langer kunt leven. </p>

      <p>Kiest u ‘onafhankelijkheid bewaren’ als belangrijkste uitkomst, dan bent u bereid een korter leven te accepteren en klachten voor lief te nemen teneinde uw onafhankelijkheid te bewaren. </p>

      <p>Bij het behandeldoel ‘pijn verzachten’ vraag ik u om te bedenken wat voor u het belangrijkste zou zijn, als u pijn heeft. Bij het behandeldoel ‘andere klachten’ kunt u denken aan klachten zoals bijv duizeligheid, misselijkheid, kortademigheid of jeuk. Kiest u verminderen of opheffen van deze klachten als belangrijkste uitkomst, dan bent u bereid achteruitgang in uw onafhankelijkheid en een korter leven te accepteren om u in staat te stellen klachtenvrij te leven. </p>

      <p>Neemt u rustig de tijd hiervoor. U kunt met de uitkomsten schuiven net zolang tot u tevreden bent met het resultaat. Hebt u nog vragen? Dan beginnen we. </p>

      <p><i>Fried TR, Tinetti M, Agostini J, Iannone L, Towle V. Health outcome prioritization to elicit preferences of older persons with multiple health conditions. Patient Ed Couns 2011; 83: 278-82.</i>
    </p>
  </article>
  {{/ic-tab-panel}}

  {{#ic-tab-panel}}
    <article>
      <h1>Outcome Prioritization Tool (OPT)</h1>
      <p>
        Often we are faced with different situations where we have to make a choice. When you can’t get everything you want, and have to give up one thing in order to get something else, this is a trade-off.<br>When you think about what doctors are trying to do when they treat you, regardless of your specific conditions, the doctor is probably trying to provide you with one or more of the following outcomes:
      </p>
      <ol>
        <li>Keeping you alive.</li>
        <li>Maintaining independence.</li>
        <li>Reducing or eliminating pain.</li>
        <li>Reducing or eliminating symptoms of dizziness, fatigue, shortness of breath</li>
      </ol>
      <p>
        I’d like you to think about how important each of these is to you. Think about a situation in which your doctor could not give you all of these outcomes at the same time, so that you have to make a trade-off. I’d like you to tell me where you would place each box on the scale of 0 to 100. The higher you place the box, the more important the outcome is to you. The only rule is that you can’t put two boxes on the same number. For the outcomes of reducing or eliminating pain and other symptoms, I want you to think about what would be most important to you if you were having pain or other symptoms such as dizziness, fatigue, or shortness of breath.
      </p>
      <p>
        As you think about each one of these outcomes, you need to consider how important to you each one is regardless of what might be happening with the others. So by choosing one of the outcomes as most important, it means you would be willing to give up some of the others in order to get more of the most important one. For example, if you choose, <strong>“Keeping you alive” as most important, it means you would be willing to accept some decline in your ability to do your daily activities and some symptoms in order to live longer</strong>. If you choose <strong>“Maintaining independence, it means you would be willing to accept a shorter length of life and some symptoms in order to keep your ability to do your daily activities</strong>. If you choose <strong>“Reducing/eliminating symptoms” as most important, it means you would be willing to accept some decline in your ability to do your daily activities and a shorter length of life in order to be free of symptoms</strong>.
      </p>
      <p>How far up or down you put the box will indicate how much you are willing to give up one thing in order to have more of another.<br>Take your time with this. You can move the outcome boxes after you have placed them. Do you have any questions? Let’s begin.
    </article>

  {{/ic-tab-panel}}

{{/ic-tabs}}


