<article>
  <p>
    De OPT (outcome prioritization tool) is een gesprekshulp om behandelvoorkeuren duidelijk te maken. Het is een kaart met vier visueel analoge schalen die elk een behandeldoel weergeven:
  </p>

  <ul>
    <li>Levensverlenging</li>
    <li>Onafhankelijkheid bewaren</li>
    <li>Verminderen of wegnemen van pijn</li>
    <li>Verminderen of wegnemen van andere symptomen</li>
  </ul>

  <p>
    Door een plaats op deze schaal te kiezen drukt de patiënt zijn waardering uit voor het betreffende doel en brengt een rangorde aan in de doelen.
  </p>

  <a href="assets/opt-foto.jpg" target="_blank">
    <img src="assets/opt-foto.jpg" width="250">
  </a>

  <p>
    De OPT is ontwikkeld in de Verenigde Staten in 2011<sup>1</sup> en daarna getest in Nederland.<sup>2</sup> De OPT kan door zorgverleners worden gebruikt voor verschillende patiëntengroepen en in verschillende gesprekssituaties.
  </p>

  <h2>Referenties</h2>
  <ol>
    <li>
      Fried,T.R.; Tinetti,M.; Agostini,J.; Iannone,L.; Towle,V. Health outcome prioritization to elicit preferences of older persons with multiple health conditions. Patient Educ Couns, 2011, 83, 2, 278-282
    </li>
    <li>
      Schuling, J; Sytema, R; Berendsen, AJ. Adjusting medication: elderly patient's preference counts. Ned Tijdschr Geneeskd, 2013, 157, 47, A6491
    </li>
  </ol>
</article>
