<article>
  <img src="assets/option-logo.png" class="logo">
  <p>
    {{t 'option.p1'}}
  </p>

  <p>
    {{t 'option.team'}}
  </p>
  <ul>
    {{t 'option.ul1'}}
  </ul>

    {{t 'option.contact'}}

  <ul>
    <li>Tel: <a href="tel:06 155 25 388">06 155 25 388</a></li>
    <li>Fax: 050 363 2964 (t.n.v. OPTion)</li>
    <li><a href="mailto:option-studie@umcg.nl">option-studie@umcg.nl</a></li>
  </ul>
</article>
