<article>
  <p>
    De afdeling huisartsgeneeskunde van het UMCG doet onderzoek naar het gebruik van de OPT. In oktober 2015 start de OPTion-studie. Oudere patiënten (≥ 70 jaar) uit ziekenhuizen in het noorden van Nederland die net te horen hebben gekregen dat ze (waarschijnlijk) een ongeneeslijke kanker hebben, kunnen meedoen. Ze worden door loting in twee groepen verdeeld. De ene groep ontvangt zorg zoals altijd, de andere groep heeft gesprekken met de huisarts waarin de OPT wordt gebruikt.
  </p>

  <p>
    Het OPTion projectteam bestaat uit:
  </p>
  <ul>
    <li>Mw. Dr A.J. (Annette) Berendsen, huisarts en projectleider</li>
    <li>Dhr. Dr J. Schuling (Jan), oud-huisarts en onderzoeker</li>
    <li>Mw. Drs. M.E. (Mariken) Stegmann, aios huisartsgeneeskunde en promovenda</li>
    <li>Prof. Dr. M.Y. (Marjolein) Berger, huisarts en hoofd afdeling</li>
  </ul>

  Contactinformatie:

  <ul>
    <li>Tel: <a href="tel:06 155 25 388">06 155 25 388</a></li>
    <li>Fax: 050 363 2964 (t.n.v. OPTion)</li>
    <li><a href="mailto:option-studie@umcg.nl">option-studie@umcg.nl</a></li>
  </ul>
</article>
