<article>
  <h2>{{t 'prom.title'}}</h2>
  <p>
    {{t 'prom.p1'}}
  </p>
  <ul>
    {{t 'prom.li1'}}
  </ul>
  <p>
    <h3>Eliciting Preferences of Multimorbid Elderly Adults in Family Practice Using an Outcome Prioritization Tool</h3>

    <div class="author">Jojanneke J.G.T. van Summeren, MSc</div>
    <div class="author">Flora M. Haaijer-Ruskamp, MSc, PhD</div>
    <div class="author">Jan Schuling, MD, PhD</div>

    <br>
    <div class="abstract">
      OBJECTIVES: To explore an outcome prioritization tool (OPT) in eliciting individuals’ preferred health outcomes
      (remaining alive, maintaining independence, reducing pain, reducing other symptoms) in the context of medication
      review in family practice.<br>
      DESIGN: Cross-sectional pilot study with mixed-methods design.<br>
      SETTING: Family practice.<br>
      PARTICIPANTS: Multimorbid individuals (N = 60; aged ≥69) with polypharmacy (≥5 chronic medications) derived
      from the practice lists of a purposive sample of 13 family physicians (FPs).<br>
      MEASUREMENTS: Participants were asked to prioritize each health outcome according the trade-off principle, and
      FPs used this prioritization for medication review. The acceptability and practicality were measured using a questionnaire
      for FPs and participants and semistructured interviews with FPs.<br>
      RESULTS: Ninety-two percent of participants found the OPT understandable, and 55% could easily prioritize
      between health outcomes. Working with the OPT (mean duration 31 minutes) was a new approach for FPs, but
      they became more adept at using it. For FPs, the OPT provides better understanding of their patients. Participants
      and FPs thought that there should be a specific reason to discuss preferences, such as (expected) decline in health status.
      CONCLUSION: The OPT appears to be promising in eliciting patient preferences but is not suitable for routine
      medication review at present. Further optimization before actual use is needed (e.g., knowledge in which clinical situations
      the OPT is useful). More information is needed on how individuals and their families perceive the tool.<br>
      J Am Geriatr Soc 2016.
    </div>
</p>
</article>
