<article>
  <h2>Preferenties van ouderen met multimorbiditeit (PROM)</h2>
  <p>
    De afdeling huisartsgeneeskunde van het UMCG doet onderzoek naar het gebruik van de OPT. De PROM studie werd uitgevoerd van oktober 2013 t/m april 2014. Bij patiënten ouder dan 80 jaar die meer dan vijf verschillende medicijnen gebruiken voerde de huisarts een gesprek met hulp van de OPT. Zonodig werd de medicatie aangepast.
  </p>
  <ul>
    <li><a href="assets/13-NTvG-medicatie-voorkeuren.pdf">Download het artikel</a></li>
    <li><a href="assets/Poster.ppt">Download de poster</a></li>
  </ul>
</article>
