<article>
  <h2>Resources</h2>
  <ul>
    <li><a href="assets/13-NTvG-medicatie-voorkeuren.pdf">Download het artikel</a></li>
    <li><a href="assets/Poster.ppt">Download de poster</a></li>
  </ul>
</article>
