<div class="slider-ui"></div>

<div class="markers">
  <span></span>
  <span>10</span>
  <span>20</span>
  <span>30</span>
  <span>40</span>
  <span>50</span>
  <span>60</span>
  <span>70</span>
  <span>80</span>
  <span>90</span>
  <span>100</span>
</div>

<h4>
  {{#tool-tipster title=view.explanation position="bottom"
    maxWidth="400"}}
    {{view.title}}
  {{/tool-tipster}}
</h4>
