<article class="video">
  <p>
    In het onderstaande filmpje ziet u een voorbeeld van een gesprek waarin de OPT wordt gebruikt. In dit voorbeeld wordt de OPT toegepast bij een oudere patiënt die veel verschillende medicijnen gebruikt.
  </p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/GEOrnoU5ydg" frameborder="0" allowfullscreen></iframe>
</article>
