<div class="modal">
  <div class="modal-backdrop" {{action 'closeWelcome'}}></div>
  <div class="modal-welcome">
    <div class="modal-header">
      <h1>Hallo!</h1>
      <a class="modal-close" {{action 'closeWelcome'}}></a>
    </div>
    <div class="modal-content">
      <article>
        <p>
          Welkom bij de OPT!
        </p>
        <a {{action 'closeWelcome'}}>Sluiten</a>
      </article>
    </div>
  </div>
</div>
